@import "compass/css3";

body {
  margin: 15px;
}

/* text recolor */
h1, h3, a {
  color: #4DC9C9 !important;
}
p{
  color:#1EAFD5  !important;
}
ul li{
  display:block;
  font-size:18px;
  line-height: 25px;
  color: #1EAFD5 !important;
  margin-left:0;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}

.sf{
  float:right;
  vertical-align:top;
  margin:5px;
  border-style:groove;
  border-width:5px;
  border-color:#C9EDF6;
}

dialog{
  border: none;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 10px;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.1);
}

